<h1>Octopath Traveler II Items List</h1>

<p>Last update to this project is 2/18/2025
<br><br>The purpose of this project is to display a list of
items and equipment that is available in the game Octopath Traveler II,
The navigation bar will give you the options to select which list to see
and review their info.
<br><br>In order for the retrieval to work, you need to have the API running.
If you haven't done so, please download and run my API that was made in
.NET 8 from my GitHub page and run it.


    
</p>
